/* Global */
body, html {
  font-family: 'Andika', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  

}

main {
  padding: 20px;
  flex: 1;
  text-align: center;
  
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: sticky;
  top: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Homepage */
#carousel div {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 10px;
}

#prevBtn,
#nextBtn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}


/* Contact Page */
#contact {
  max-width: 600px;
  margin: 0 auto;
}

#contact h1 {
  text-align: center;
}

#contactForm {
  display: grid;
  gap: 10px;
}

#contactForm label {
  display: block;
  font-weight: bold;
}

#contactForm input,
#contactForm textarea {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}

#contactForm button[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* CSS for modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: auto;
  display: block;
  width: 50%;
  max-width: 700px;
  max-height: 80vh;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.blog-item img {
  cursor: pointer;
}

/* Footer*/
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Blogs */

.blog-item {
  margin: 0 auto 20px;
  text-align: center;
  
}

.blog-title {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2;
}

.blog-description {
  max-height: 200px;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 10px;
  width: 60%; 
  margin: 0 auto; 
  box-sizing: border-box; 
  text-align: center; 
}

.blog-description p {
  margin: 0;
  padding: 0;
}

.blog-description::after {
  content: '...';
  visibility: hidden;
}

.blog-description.expand::after {
  visibility: visible;
}

.blog-description.expand {
  max-height: none;
}

.blog-page {
  background-color: #f2f2f2;
}

.blog-container {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  max-width: 1600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}





/* Responsive */
@media (max-width: 768px) {
  header {
    padding: 10px 20px;
  }

  nav ul li {
    margin-right: 20px;
  }

  main {
    padding: 10px;
  }

  #carousel div {
    padding: 10px;
  }

  #prevBtn,
  #nextBtn {
    padding: 5px 10px;
    font-size: 14px;
  }

  #contact {
    max-width: 400px;
  }
}

